body{
	background-image: url(fuelbackground.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.login-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.form{
	position: relative;
	z-index: 1;
	background: rgba(0, 0, 0, .8);
	color: #fff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
}

.form input{
	font_family: "Roboto", sans-serif;
	border: none;
	outline: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	width: 100%;
	margin: 0 0 15px;
	padding: 5px;
	box-sizing: border-box;
	color: #fff;
	font-size: 14px;
}

.form button{
	font_family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #fb2525;
	color: #fff;
	width: 100%;
	border: 0;
	padding: 15px;
	font-size: 14px;
	border-radius: 20px;
	cursor: pointer;
}

.form button:hover,.form button:active{
	background: #ffc107;
	color: #000;
}

.form .message{
	text-decoration: none;
	color: darkgrey;
}

.form .message a{
		color: #ffc107;
	text-decoration: none;
}

.avatar{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 45px);
}

.form .register-form{
	display: none;
}
